<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>knpa2022s Enter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0.0.0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
				<key>dateExpires</key>
				<string>2024/09/22</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>8.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>13.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.4.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D7F87E1282D07B8BE843F716D3E4CDEEF6F08586</string>
						<key>dateExpires</key>
						<string>2024/09/22</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>85JQMF8YT8</string>
						<key>name</key>
						<string>m2community.Co.Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30907.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>85JQMF8YT8.kr.co.m2community.knpa2024</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>85JQMF8YT8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>knpa2022s Enter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5fb405b4-b834-4410-a7db-b9e5d0723a41</string>
				<key>dateExpires</key>
				<string>2024/09/22</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: kr.co.m2community.knpa2024</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>85JQMF8YT8</string>
				<key>name</key>
				<string>m2community.Co.Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
